<div class= "container py-5 px-sm-0">
  <div class="row">
    <div class="col-12">
    <h4>商品一覧</h4>
    </div>
  </div>
  <%= render 'public/products/product_all', products: @release_products %>

　<% if current_user == @user %>
  <div class="row">
    <div class="col-12">
    <h4>非公開商品一覧</h4>
    </div>
  </div>
  <%= render 'public/products/product_all', products: @secret_products %>
  <div class="row justify-content-center">
    <div class= "my-5">
        <%= link_to new_user_product_path(@user), class: "btn btn-success" do %>
          <span>商品を投稿する</span>
        <% end %>
    </div>
  </div>
  <% end %>
  <div class="row justify-content-center">
     <%= paginate @release_products %>
　</div>
</div>
