<% if user.followed_by?(current_user) %>
    <p><%=link_to "フォロー中", user_relationships_path(user.id), method: :delete, remote: true, data: {"turbolinks" => false}, class: 'btn btn-danger btn-sm' %></p>
<% else %>
    <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post, remote: true, data: {"turbolinks" => false}, class: 'btn btn-success btn-sm' %></p>
<% end %>