<div class="container py-5 px-sm-0">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>welcome to  <strong>Snackers</strong>  !!</h1>
      <h2>あなたもSnackerになってたくさんのおかしを共有しよう！</h2>
      <h4>続けていくと企業からメッセージが届くかも...</h4>
      <div class="btn-wrapper col-10 mx-auto mt-5">
        <div class="row">
          <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign Up',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mt-5">
        <h4 class="col-11 offset-1">参加企業 PICK UP</h4>
        <div class="row mt-4">
          <ul class="slider">
            <% @company_users.each do |user| %>
            <li>
                <p class="caption mx-2"><%= image_tag user.get_profile_image(100,100) %></p>
                <p class="caption"><%= user.name %></p>
            </li>
        <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(".slider").slick({
  autoplay:true,
  autoplaySpeed: 2000,
  slidesToShow:3,
  infinite:true,
  slidesToScroll:1,
  prevArrow: '<div class="slick-prev"></div>', // 前へボタンのHTMLコードを指定
  nextArrow: '<div class="slick-next"></div>', // 次へボタンのHTMLコードを指定
});
  </script>
