<div class= "row">
  <div class= "col-6 offset-4 mt-5">
  <%= form_with model: [item, post_comment], local: false do |f| %>
    <%= f.text_area :comment, class: 'form-control', rows: '6', placeholder: "コメントをしよう (上限 60字まで)" %><br>
    <%= f.submit "コメントする", class: "btn btn-outline-success" %>
  <% end %>
</div>
</div>