/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: image-url("hoge.jpg");
}

header{
   background-color: #AEFFBD;
   border-bottom: 20px double #CBFFD3;
   font-family: serif;
}

#main{
  background-color: #E6FFE9;
  font-family: serif;
}

footer{
  border-top: 20px double #CBFFD3;
  background-color: #AEFFBD;
}

.head{
  background-color: #FFFFAA	;
  color: #3f312b;
}

.td{
  background-color: #FFFFEE	;
}

.user_name{
  background-color: #FFFF99;
  color: #3f312b;
}

.genre_table{
  background-color: #FFFFAA	;
  border-radius: 20px;
  border: 2px solid #DDDDDD;
}

.table_group {
  background-color: #FFFFEE;
}

// 自分のメッセージの吹き出し
.says {
  float: left;
  position: relative;
  width: calc(100% - 56px);
  padding: 16px;
  background: #FFFFCC;
  border-radius: 15px;
  line-height: 2.0;
  word-break: break-all;
  font-family: serif;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -17px;
  border: 8px solid transparent;
  border-right: 18px solid #FFFFCC;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

// 自分以外のメッセージの吹き出し
.other-user-says {
  float: right;
  position: relative;
  width: calc(100% - 56px);
  padding: 16px;
  background: #AEFFBD;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
  font-family: serif;
}
.other-user-says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #AEFFBD;
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
}

.info_text{
  font-size: 70%;
}

.form_text{
  font-size: 90%;
}

.background{
  background: #FFFFAA;
  background-size:cover;
  font-family: serif;
}

.title{
  background-color: #FFFFAA;
  border-radius: 20px;
  color: #3f312b;
  width: 45%;
}

img {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
}