/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
   background-color: #AEFFBD;
   border-bottom: 10px double #CBFFD3;
   font-family: serif;
}

#main{
  background-color: #E6FFE9;
  font-family: serif;
}

footer{
  border-top: 20px double #CBFFD3;
  background-color: #AEFFBD;
  margin-top: auto;
}

.container {
      display: flex;
      flex-direction: column;
      min-height: 80vh;
}

.head{
  background-color: #FFFFAA	;
  color: #3f312b;
}

.td{
  background-color: #FFFFEE	;
}

.user_name{
  background-color: #FFFF99;
  color: #3f312b;
}

.genre_table{
  background-color: #FFFFAA	;
  border-radius: 20px;
  border: 2px solid #DDDDDD;
}

.table_group {
  background-color: #FFFFEE;
}

.table_group2 {
  background-color: #FFFFEE;
  opacity: 0.6
}

// 自分のメッセージの吹き出し
.says {
  float: left;
  position: relative;
  width: calc(100% - 56px);
  padding: 16px;
  background: #FFFFCC;
  border-radius: 15px;
  line-height: 2.0;
  word-break: break-all;
  font-family: serif;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -17px;
  border: 8px solid transparent;
  border-right: 18px solid #FFFFCC;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

// 自分以外のメッセージの吹き出し
.other-user-says {
  float: right;
  position: relative;
  width: calc(100% - 56px);
  padding: 16px;
  background: #AEFFBD;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
  font-family: serif;
}
.other-user-says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #AEFFBD;
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
}

.info_text{
  font-size: 70%;
}

.form_text{
  font-size: 90%;
}

.background{
  background: #FFFFAA;
  background-size:cover;
  font-family: serif;
}

.title{
  background-color: #FFFFAA;
  border-radius: 20px;
  color: #3f312b;
  width: 45%;
}

.img_logo {
    border-radius: 10px;  /* 角丸半径を50%にする(=円形にする) */
    opacity: 0.9;
}

.img_icon {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    border: 2px solid #DDDDDD;
}

.product-img{
    max-width: 120%;
    height: auto;
    object-fit: cover; // or contain;
}

.item_img{
    max-width: 50%;
    height: auto;
    object-fit: cover; // or contain;
}



// フラッシュメッセージ設定
#flash-notifications{
  color: white;

  .notice {
    background-color: #3cb371;
    padding: 12px 20px;
  }

  .alert {
    background-color: #fa8072;
     padding: 12px 20px;
  }
}

/*productのトグルスイッチを作成
/* トグル要素をテーブルとして表示することで、内部要素を水平に配置 */
.toggle_switch {
  display: table;
}

/* インプット要素を非表示に */
.toggle_switch > input {
  display: none;
}

/* トグルラベルのスタイル */
.toggle_label {
  display: block;
  position: relative;
  width: 3em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: #ccc;
  cursor: pointer; /* クリック可能なカーソルに */
}

/* トグルがオンのときの背景色 */
.toggle_switch > input:checked + .toggle_label {
  background-color: #BDDF38; /* お好みで！ */
}

/* トグルボタンのデザイン */
.toggle_label::before {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.3s; /* アニメーションの速さ */
  content: ""; /* スイッチの背景 */
}

/* トグルがオンのときのボタン位置 */
.toggle_switch > input:checked + .toggle_label::before {
  left: calc(100% - 1.25em);
}

/* 企業アイコンPick UP機能追加 */
.slider {
  margin: auto;
  width: 80%;
  margin: 0 auto; /* スライドショーを水平方向に中央に配置 */
}

.slider li {
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #FFE3E1;
  padding: 10px; /* スライドの内側の余白を追加 */
  border-radius: 10px; /* スライドの角を丸くします */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* スライドに影を追加して立体感を出す */
  text-align: center; /* スライド内のテキストを中央揃えにします */
}

.slider img {
  display: block; /* インライン要素をブロック要素に変更 */
  margin: 0 auto; /* 左右のマージンを自動で調整して中央揃えにする */
  max-width: 100%; /* 画像の最大幅を親要素に合わせる */
  height: auto; /* アスペクト比を保持したまま高さを自動調整 */
}

/* 各スライド内の段落要素（<p>タグ）の上下の余白を追加 */
.slider li p {
  margin: 5px 0;
}

/* スライド内の見出し（<p class="caption">タグ）のスタイルを設定 */
.slider li p.caption {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 16px;
  color: #FF1493;
  font-weight: bold;
}

/* 前へボタンと次へボタンのスタイルを設定 */
.slick-prev,
.slick-next {
  position: absolute; /* ボタンをスライド内に絶対位置で配置 */
  top: 50%; /* ボタンを垂直方向に中央に配置 */
  transform: translateY(-50%); /* 垂直方向に中央に配置したボタンを上に移動 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
  outline: none; /* ボタンにフォーカスしたときの枠を非表示にする */
  background-color: rgba(255, 255, 255, 0.8); /* ボタンの背景色 */
  padding: 10px; /* ボタンの内側の余白 */
  border: 1px solid #ccc; /* ボタンの境界線 */
  border-radius: 50%; /* ボタンを丸くする */
  font-size: 16px; /* ボタンのテキストのサイズ */
}

.slick-prev {
  left: 0%; /* ボタンを水平方向にスライドの外側に配置 */
}

/* 次へボタンのスタイルを設定 */
.slick-next {
  right: -5.5%; /* ボタンを水平方向にスライドの外側に配置 */
}



/* タブレット縦置きサイズ（768px）以下 */
@media screen and (max-width:768px) {

  .product-img{
      max-width: 180%;
      height: auto;
      object-fit: cover; // or contain;
  }
}

/* スマートフォンサイズ（576px）以下 */
@media screen and (max-width:576px) {
  // テーブルを段々に表示
  .table-block th{
    display: block;
    width: 100%;
  }
  .table-block td{
    display: block;
    width: 100%;
  }

  .product-img{
      max-width: 100%;
      height: auto;
      object-fit: cover; // or contain;
  }

}