<td>
    <%= link_to transition_path(notification) do %>
        <%= image_tag notification.subject.following.get_profile_image(30,30),class: "img_icon" %>
        <%= link_to notification.subject.following.name, user_path(notification.subject.following) %>
        さんがあなたをフォローしました！(<%= notification.subject.created_at.strftime('%Y/%m/%d') %>)
    <% end %>
</td>