<div id="notifications-content">
 <div class= "container py-5 px-sm-0">
  <div class= "row">
  <% if @checked_notifications.present? %>
    <div class="col-12">
    <h4>通知一覧<i class="far fa-bell fa-lg"></i>
      <%= link_to "通知をクリアする", destroy_all_notifications_path, method: :delete,"data-confirm" => "これまでの通知を削除しますか？", class: "ml-2 btn btn-outline-secondary btn-sm"%>
      </h4>
      <table class='table'>
        <% @checked_notifications.each do |notification| %>
        <tr class= "table_group">
          <%= render notification.action_type, notification: notification %>
        </tr>
        <% end %>
      </table>
    <% else %>
    <div class="col-12 text-center">
     <h4>現在通知はありません</h4>
    </div>
    <% end %>
  </div>
 </div>
</div>



