<div class='container py-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3 '>
      <%= render 'public/users/info', user: @user %>

       <%= render 'form', item: @item %>
    </div>

    <div class='col-md-8 offset-md-1'>
     <%= render 'postitems', items: @items %>
    </div>
  </div>
  <div class="row justify-content-center">
     <%= paginate @items %>
　</div>
</div>



